*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:aliceblue;
  font-family: 'Roboto', sans-serif;
}
.heding{
  text-align: center;
  background: #fff;
  padding: 20px 0px;
}
.slotInner {
  text-align: center;
}
.text-cemnter {
  justify-content: center;
  background: #6983aa;
  flex-direction: column;

  margin: auto 0;
  text-align: center;
  align-items: center;
  height: 100vh;
  display: flex;
}
.mid {
  width: 25%;
  background: #f4f4f4;
  height: 80vh;
  box-shadow: 5px 5px 25px -5px rgb(0, 0, 0.5);
  border-radius: 15px;
}
h1.hedin {
  background: transparent;
  background-color: #ad24c5;
  color: #fff;
  box-shadow: 5px 5px 25px -5px rgb(0, 0, 0.5);
  padding: 6px;
  margin-bottom: 15px;
  margin-top: 19px;
}
input.inpuBo {
  border: none;
  background: transparent;
  border-bottom: 2px solid #ad24c5;
  outline: none;
  font-size: 20px;
  width: 60%;
  height: 30px  ;
}
.byname{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  background-color: #ad24c5;
  outline: none;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  font-size: 30px;
  border: none;
  transition: all 1s;

}
ol{
  margin-top: 30px;
  margin-left: 47px;

}
ol li{
  padding-left: 16px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #9c27b0;
  text-transform: capitalize;
}
.byname:hover{
  background-color: green;
}
input {
  padding: 15px 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  border: none;
  background-color: aliceblue;
}
button.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #9c27b0;
  color: #fff;
  cursor: pointer;
}
.todoDel{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
}
.todoDel i{
  width: 20px;
  height: 20px;
  background: red;
  color: #fff;
   border-radius: 50%;
   font-size: 12px;
  
   display: flex;
   justify-content: center;
   align-items: center;
}